@mixin max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin max-container($breakpoint) {
  @container(max-width: #{$breakpoint}) {
    @content;
  }
}

@mixin inline-text-overflow($width) {
  display: inline-block;
  white-space: nowrap;
  max-width: $width;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin multiline-text-overflow($count_lines) {
  display: -webkit-box;
  -webkit-line-clamp: $count_lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}