.create-dream {
    position: relative;
    padding-inline: 140px;
    margin-bottom: 60px;

    @include max(1060px) {
        padding-inline: 100px;
    }

    @include max(960px) {
        padding-inline: 60px;
    }


    @include max(660px) {
        padding-inline: 20px;
        margin-bottom: 35px;
    }

    &__background {
        margin-inline: 140px;
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-radius: 20px;
        background: url('../assets/svg/chart2.svg') no-repeat;
        background-color: #ebfaff;
        font-family: 'Manrope', sans-serif;
        background-position: 90% 20%;
        opacity: 0.7;

        @include max(1060px) {
            background: #ebfaff;
            margin-inline: 60px;
        }

        @include max(660px) {
            margin: 0;
            background: transparent;
        }
    }

    &__content {
        padding: 60px;
        display: grid;
        grid-template-columns: 56fr 44fr;
        gap: 40px;

        @include max(1060px) {
            grid-template-columns: 1fr;
            background: none;
            padding: 40px;
        }

        @include max(660px) {
            padding: 0;
        }
    }

    .section__title {
        width: 18ch;
        margin-bottom: 50px;

        @include max(1060px) {
            width: initial;
        }

        @include max(660px) {
            margin-bottom: 20px;
        }
    }

    &__form {
        container-type: inline-size;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 10px rgba(50, 50, 71, 0.05);
        background: #FFFFFF;
        border-radius: 20px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        overflow: hidden;
    }

    &__image {
        background: #F9F9F9;
        background-image: url("../assets/svg/empty-img.svg");
        background-repeat: no-repeat;
        background-position: center 85px;
        padding-top: 215px;
        padding-bottom: 85px;
        text-align: center;
        width: 100%;

        @include max(660px) {
            padding-top: 200px;
            padding-bottom: 50px;
            background-size: 75px 75px;
        }

        label {
            cursor: pointer;
            color: #03BAFE;
        }
    }

    &__image-label {
        &--desktop {
            @include max(660px) {
                display: none;
            }
        }

        &--mobile {
            display: none;

            @include max(660px) {
                display: initial;
            }
        }

    }

    &__file {
        display: none;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    &__input {
        background: #F9F9F9;
        border: 1px solid #E9E9E9;
        border-radius: 5px;
        padding: 10px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;


        &::placeholder {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #737373;
        }
    }

    &__description {
        @extend .create-dream__input;
        resize: none;
    }

    &__target-money {
        @extend .create-dream__input;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &,
        &:hover,
        &:focus {
            appearance: none;
            -moz-appearance: textfield;
        }
    }

    &__input-with-label {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__submit {
        margin-inline: auto;
        width: fit-content;

        @include max(660px) {
            width: 100%;
        }
    }

    &__progress {
        @include max(1060px) {
            display: none;
        }
    }
}