.feedback {
    padding: 0 80px;

    @include max(660px) {
        padding-inline: 0;
    }

    .section__title {
        padding-inline: 40px;
        margin-bottom: 20px;

        @include max(660px) {
            padding-inline: 20px;
            margin-bottom: 0;
        }
    }
}

.feedback-slider {
    position: relative;
    --gap: 40px;

    &__slides {
        display: flex;
        gap: var(--gap);
        overflow: hidden;
        padding: 30px;

        @include max(660px) {
            padding: 20px;
        }
    }

    &__indicators {
        display: flex;
        margin-left: 20px;
        gap: 8px;

        @include max(660px) {
            justify-content: center;
        }
    }

    &__indicator {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(228, 228, 228, 0.5);

        &--active {
            background: linear-gradient(0deg, #03BAFE, #03BAFE), linear-gradient(0deg, #F7EFEF, #F7EFEF), #F7EFEF;
        }
    }

    &__prev-btn,
    &__next-btn {
        position: absolute;
        top: 50%;
        background: url("../assets/svg/chevron.svg") no-repeat;
        background-position: center;
        background-size: 28px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid #F9F9F9;
        background-color: white;

        @include max(660px) {
            display: none;
        }
    }

    &__prev-btn {
        left: 0;
        transform: translateY(-50%);
    }

    &__next-btn {
        right: 0;
        transform: translateY(-50%) rotate(180deg);
    }
}

.feedback-slide {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 16px;
    width: calc((100% - (2 * var(--gap))) / 3);
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(50, 50, 71, 0.05);
    border-radius: 20px;


    @include max(1060px) {
        min-width: calc(50% - 20px);
    }

    @include max(760px) {
        min-width: 100%;
    }

    &__title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;

        @include max(660px) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__text {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;

        @include max(660px) {
            font-size: 12px;
            line-height: 24px;
        }
    }

    &__author {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: auto;

        @include max(660px) {
            gap: 15px;
        }

        &-photo {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }

        &-name {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;

            @include max(660px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}