.footer {
    padding-inline: 140px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    display: grid;
    grid-template-areas:
        'contacts contacts'
        'docs social'
        'copyright copyright';

    @include max(1060px) {
        grid-template-areas:
            'contacts'
            'docs'
            'social'
            'copyright';
        padding-inline: 100px;
    }

    @include max(760px) {
        padding-inline: 20px;
    }

    &__title {
        @include max(1060px) {
            margin-bottom: 30px;
        }
    }

    &__separator {
        display: none;

        @include max(1060px) {
            display: inline;
        }
    }

    &__contacts {
        grid-area: contacts;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 70px;
        margin-inline: auto;

        @include max(1060px) {
            margin-bottom: 20px;
        }
    }

    &__contact-links {
        display: flex;
        justify-content: space-around;

        @include max(760px) {
            gap: 10px;
            flex-direction: column;
        }
    }

    &__contact-link {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-decoration-line: underline;
        color: #03BAFE;
    }

    &__docs {
        grid-area: docs;
        display: flex;
        gap: 40px;

        @include max(1060px) {
            justify-content: center;
            margin-bottom: 50px;
        }

        @include max(760px) {
            gap: 10px;
            flex-direction: column;
        }
    }

    &__doc-link {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-decoration-line: underline;
        color: #03BAFE;
    }

    &__social {
        grid-area: social;
        justify-content: flex-end;
        display: flex;
        gap: 10px;

        @include max(1060px) {
            justify-content: center;
        }
    }

    &__social-link {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F3F3F3;
        border: 1px solid #F9F9F9;
        border-radius: 100px;
    }

    &__copyright {
        grid-area: copyright;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.1px;
        color: #666666;
        margin-top: 50px;
        margin-bottom: 20px;
    }
}


@mixin colorIcon($foreground, $background) {
    path {
        fill: $foreground;
    }

    background: $background;

}

.social-link {
    &--instagram:hover {
        @include colorIcon(white, radial-gradient(91.58% 111.72% at 7.03% 94.92%, #E5E5E5 3.23%, #F58A33 20.23%, #EF405C 50%, #B529E6 92.71%));
    }

    &--twitter:hover {
        @include colorIcon(white, #2bb9eb);
    }

    &--telegramm:hover {
        @include colorIcon(white, #11aadf);
    }

    &--linkedin:hover {
        @include colorIcon(white, black);
    }

    &--facebook:hover {
        @include colorIcon(white, #3b5998);
    }

    &--watsapp:hover {
        @include colorIcon(white, #47de55);
    }

    &--youtube:hover {
        @include colorIcon( red, white);
    }
}