html {
    scroll-behavior: smooth;
}

.nav {
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: min-content 1fr min-content;

    @include max(1260px) {
        display: flex;
        justify-content: space-between;
    }

    &__links {
        margin-left: auto;
        display: flex;
        width: 100%;
        gap: 30px;
        justify-content: flex-end;

        @include max(1260px) {
            display: none;
        }
    }

    &__link {
        // вынести в link component
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.1px;
        color: white;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            border-bottom: 2px solid #FFA200;
        }
    }

    &__btns {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__lang-select {
        @include max(1400px) {
            display: none;
        }
    }

    &__lang-btn {
        display: none;

        @include max(1400px) {
            display: block;
            // вынести в Icon component
            background-color: transparent;
            background-image: url("../assets/svg/lang.svg");
            width: 28px;
            height: 28px;
            border: none;
            cursor: pointer;
        }

        @include max(1260px) {
            display: none;
        }
    }

    &__login-btn {
        // вынести в Icon component
        background-color: transparent;
        background-image: url("../assets/svg/user.svg");
        width: 28px;
        height: 28px;
        border: none;
        cursor: pointer;
    }

    &__burger-btn {
        display: none;

        @include max(1260px) {
            display: block;
            // вынести в Icon component
            background-color: transparent;
            background-image: url("../assets/svg/burger.svg");
            width: 28px;
            height: 28px;
            border: none;
            cursor: pointer;
        }
    }
}