
.opportunities {
    padding-inline: 140px;

    &__text {
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: center;
        letter-spacing: 0.2px;
    }


}

.opportunity {
    width: 25%;
    background: rgba(235, 250, 255, 0.7);
    border-radius: 20px;
    padding: 40px 30px;

    &__img {
        margin-bottom: 40px;
    }

    &__title {
        margin-bottom: 20px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
    }

    &__text {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
    }
}
