.container {
    width: 100%;
    display: flex;
    gap: 20px;

    &--h {
        align-items: center;
        flex-direction: row;
    }

    &--justify {
        justify-content: space-between;
    }

    &--space-between {
        justify-content: space-between;
    }

    &--space-around {
        justify-content: space-around;
    }
}

.section {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;

    &__title {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 0.2px;
        color: #000000;

        @include max(1060px) {
            font-size: 30px;
            line-height: 36px;
        }
        @include max(660px) {
            font-size: 21px;
            line-height: 24px;
        }
    }
}